body {
    margin: 0;
    padding: 0;
    /* background-color: #272822; */
    background-image: url('../../../wallpaperflare.com_wallpaper.jpg');
    color: #F8F8F2;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #383830;
    padding: 20px;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li a {
    text-decoration: none;
    color: #F8F8F2;
    padding: 10px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile span {
    font-size: 18px;
    font-weight: bold;
}

.login-btn {
    background-color: #50C878;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #32CD32;
}

.logo a {
    display: block;
    width: 100px;
    height: 100px;
    padding-left: -900px;
}

.logo a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #341212;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Chat */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.chat-box {
    width: 500px;
    height: 600px;
    /* background-color: #f2f2f2; */
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation-name: glowing;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes glowing {
    from {
        box-shadow: 0 0 10px rgba(0, 234, 255, 0.8);
    }

    to {
        box-shadow: 0 0 20px rgba(255, 102, 0, 0.8);
    }
}

.chat-log {
    height: 480px;
    overflow-y: scroll;
    padding: 10px;
    color: #ffffff;
}

.chat-log::-webkit-scrollbar {
    width: 10px;
}

.chat-log::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

.chat-log::-webkit-scrollbar-thumb {
    background-color: #9a9a9a;
    border-radius: 5px;
}

.chat-log::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

.chat-form {
    display: flex;
    margin-top: 20px;

}

.chat-form input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #341212;
    color: #fff;
}

.chat-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}